body {
  font-family: 'Raleway', sans-serif;
  background-color: #bfd7ea;
}

.custom__navbar {
  background-color: #087e8b;
  margin-bottom: 35px;
}

ul.journeyList {
  list-style-type: "-  ";
}

a {
  color: black;
}

i {
  margin-right: 10px;
}

hr {
  margin-left: 2%;
  margin-right: 2%;
}

.carousel-caption {
  background-color: #087e8b;
  border-radius: 5px;
  color: black;
}

.custom__footer {
  margin-top: 35px;
  padding-top: 35px;
  background-color: #087e8b;
}