/* .custom__banner {
  background-color: #3f7cac;
} */

.custom__navbar {
  background-color: #087e8b;
}

body {
  padding-top: 65px;
  background-color: #bfd7ea;
}

#aboutMeParagraph {
  margin-left: 35px;
}

ul.journeyList {
  list-style-type: "-     ";
}

a {
  color: black;
}

i {
  margin-right: 10px;
}

.custom__footer {
  background-color: #087e8b;
}