.custom__navbar {
  background-color: #087e8b;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #bfd7ea;
}

ul.journeyList {
  list-style-type: "-  ";
}

a {
  color: black;
}

i {
  margin-right: 10px;
}

.carousel-caption {
  background-color: #087e8b;
  border-radius: 3px;
  color: black;
}

.custom__footer {
  background-color: #087e8b;
  padding: 0 15px;
}